# API Keys
GEMINI_API_KEY=AQ.Ab8RN6L9AHRGB1zvJobF3o1z8_q0xwg22qa1ArAz_qRUeTfiLA
GROQ_API_KEY=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
GROQ_MODEL=openai/gpt-oss-120b
WEATHERAPI_KEY=0286af382caa44479b9174303260509
GOOGLE_WEATHER_API_KEY=AIzaSyCSOD7mBSZxOshvaxquqR86sZl3m95vPOE

# Database
DATABASE_URL=

# Backend
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
